/* index.css */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: #121212;  */
  opacity: 0.9;
  background-image: url('vada.jpg');
  color: #fff;
  background-attachment: fixed;
      background-size: cover;       
      background-repeat: no-repeat; 
      background-position: center;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  border-radius: 12px;
}
